.close-button {
    display: flex;
    justify-content: flex-end;
}

.close-button svg {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.close-button svg:hover {
    fill: gray;
}

.CloseButtonIcon:hover {
    background-color: darkgray;
    opacity: 1;
}

.input-container {
    display: flex;
    gap: 40px;
    margin: 0px 0px 4px 12px;
}

.input-container p {
    margin-top: 13px;
}

.status {
    display: flex;
    gap: 4px;
    margin: 4px 0px;
}

.status-circle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-top: 6px;
}

.status-circle .orange {
    background-color: orange;
}

.status-circle .green {
    background-color: green;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.create-input {
    border: 1px solid;
    border-radius: 4px;
    padding-left: 4px;
    width: 100%;
}

.description {
    margin-top: 24px !important;
    margin-bottom: 24px;
}

.inputs .price {
    width: 50%;
    margin-left: 16px;
}

.inputs .quantity {
    width: 25%;
}

.inputs div {
    margin-top: 12px;
}

.inputs .status-input {
    display: flex;
    margin: 0px;
}

.inputs .status-input div {
    margin-right: 16px;
}

.inputs .status-input div input {
    margin-right: 4px;
}

.error-message svg {
    height: 16px;
    width: 16px;
    margin-right: 4px;
    stroke: red;
}

.error-message {
    display: flex;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.14);
    border-radius: 4px;
    border-left: 4px solid red;
    color: red;
    padding: 8px;

}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 16px;

}

.buttons-container button {
    border: 1px solid black;
    width: 80px;
    height: 30px;
    border-radius: 4px;
}

.create-modal .buttons-container .create-button {
    background-color: green;
    border: none;
    color: white;
}

.create-modal .buttons-container .edit-button {
    background-color: blue;
    border: none;
    color: white;
}

.buttons-container button:hover {
    background-color: darkgray;
    opacity: 1;
    color: white;
    border: none;
}

.create-modal .buttons-container .create-button:hover {
    background-color: lightgreen;
    opacity: 1;
}

.create-modal .buttons-container .edit-button:hover {
    background-color: lightblue;
    opacity: 1;
}
