.confirm-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    width: 25%;
}

.confirm-modal .icon {
    display: flex;
    justify-content: center;
}

.confirm-modal svg {
    width: 150x;
    height: 150px;
    stroke: blue;
}

.confirm-modal p {
    display: flex;
    justify-content: center;
    margin: 4px 0px 12px 0px;
}

.confirm-modal .button-container {
    display: flex;
    justify-content: center;
}

.confirm-modal button {
    width: 50%;
    padding: 8px;
    border-radius: 4px;
    margin: 0px 4px 0px 4px;
}

.confirm-modal .yes {
    background-color: blue;
    color: white;
}

.confirm-modal .cancel {
    color:  blue;
    border: 1px solid blue;
}

.confirm-modal .yes:hover {
    background-color: lightblue;
    border: 1px solid lightblue;
    color: white;
}

.confirm-modal .cancel:hover {
    background-color: lightgray;
    border: 1px solid lightgray;
    color: white;
}
