.title {
    display: flex;
    font-size: 24px;
    width: 30%;

    svg {
        width: 36px;
        height: 36px;
    }

    p {
        padding-left: 8px;
    }
}

.tabs {
    display: flex;
    margin-top: 36px;

    .tab {
        display: flex;
        border: 1px solid;
        width: 15%;
        height: 36px;
        padding: 4px 4px;
    }
}
