.title {
    display: flex;
    font-size: 24px;
    width: 30%;

    svg {
        width: 36px;
        height: 36px;
    }

    p {
        padding-left: 8px;
    }
}

.tabs {
    display: flex;
    margin-top: 36px;

    .tab {
        display: flex;
        border: 1px solid;
        width: 15%;
        height: 36px;
        padding: 4px 16px;
    }
}

.inventory {
    border: 1px solid;
    height: 400px;

    .header {
        display: flex;
        justify-content: space-between;
        margin: 24px;

        .show-entries {
            display: flex;
            align-items: center;
            gap: 8px;
            .input-number {
                border: 1px solid;
                width: 20%;
                padding: 0px 4px;
            }
        }

        .search-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            .search-box {
                border: 1px solid;
                width: 200px;
                height: 36px;
            }
        }
    }
}
