.item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 24px;

    p {
        width: 50%;
        text-align: center;
        border-bottom: 1px solid gray;
    }
}

.item:hover {
    background-color: lightgray;
}