.success-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    width: 25%;
}

.success-modal .icon {
    display: flex;
    justify-content: center;
}

.success-modal svg {
    width: 150x;
    height: 150px;
}

.success-modal .green svg {
    stroke: green;
}

.success-modal .red svg {
    stroke: red;
}

.success-modal p {
    display: flex;
    justify-content: center;
    margin: 4px 0px 12px 0px;
}

.success-modal .button-container {
    display: flex;
    justify-content: center;
}

.success-modal button {
    border-radius: 4px;
    padding: 4px 12px;
    background-color: green;
    border: 1px solid green;
    color: white;
    width: 90%;
}

.success-modal button:hover {
    background-color: lightgreen;
    border: 1px solid lightgreen;
    color: white;
}

.success-modal .button-container .red {
    background-color: red;
    color: white;
    border: 1px solid red;
}

.success-modal .button-container .red:hover {
    background-color: lightcoral;
    color: white;
    border: 1px solid lightcoral;
}