.item {
    display: flex;
    justify-content: space-between;
    width: 100%;

    p {
        width: 50%;
        text-align: center;
        border-bottom: 1px solid gray;
    }
}

.item:hover {
    background-color: rgb(234 179 8);
    color: white;
}