nav {
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to right, #99996A, #ECEB68);
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

img {
    height: 30px;
    width: 60px;
}

.button {
    background-color:white;
    border: none;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px;
}