@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.navbar {
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to right, #99996A, #ECEB68);
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    font-family: Lobster Two;
    font-size: 40px;
    color: white;
    margin-left: 12px;
}

img {
    height: 50px;
    width: 60px;
}

.button {
    background-color:white;
    border: none;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px;
    line-height: 0px;
}