.app-container {
    display: flex;
    flex-direction: column;
  }

  .content-container {
    display: flex;

    .main-content {
      margin-left: 100px;
      padding: 20px;
      flex-grow: 1;
    }
  }
